@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Thasadith:wght@700&family=Tulpen+One&family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-family: Thasadith;
  font-size: 96px;
  font-weight: 700;
  line-height: 124.8px;
  color: #BCB8B1;
}

h2 {
  font-family: Tulpen One;
  font-weight: 400;
  font-size: 96px;
  color: #8A817C;
}

h3 {
  font-family: "Ubuntu Mono";
  font-weight: 400;
  font-size: 40px;
  color: #BCB8B1;
}

h4 {
  font-family: "Ubuntu Mono";
  font-weight: 400;
  font-size: 24px;
  color: #E0AFA0;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-family: "Chakra Petch";
  font-size: 20px;
  font-weight: 400;
  color: #E0AFA0;
  line-height: 40px;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  background-color: #E5E5E5;
}



/***************** Header Start *******************/
#header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: #463F3A;
  /* padding: 20px 80px; */
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); */
}

.logo {
  /* height: 100vh; */
  font-size: 3em;
  font-family: "Tulpen One";
  text-decoration: none;
  color: #BCB8B1;
  padding-top: 40px;
  padding-left: 40px;
}

#navcontain {
  width: 25%;
  height: 280px;
  background-color: #BCB8B1;
  align-items: center;
  justify-content: start;
  display: flex;
}

#navbar li {
  list-style: none;
  padding: 15px 0 0px 0;
  margin-left: -30px;
  position: relative;
}

#navbar li a {
  text-decoration: none !important;
  font-family: "Ubuntu Mono";
  font-size: 1.2em;
  color: #463F3A;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #8A817C;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #8A817C;
  position: absolute;
  bottom: -4px;
  left: 35px;
}

#navbar li span {
  color: #E0AFA0;
}


/***************** ASIDE *******************/
#aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 500px 45px 50px;
  position: fixed;


}

#aside img {
  padding-bottom: 20px;
  width: 50px;
}


/******************* Home Page ******************/
#hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 74.6vh;
  background-color: #463F3A;
}


/* Details */

#details {
  margin-top: -300px;
  padding-left: 140px;
  width: 60%;
}

#hero img {
  width: 80px;
}

#hero h2 {
  padding-bottom: 15px;
}

#hero p {
  padding-bottom: 25px;
}

#hero #resume {
  text-decoration: none;
  color: #E0AFA0;
  font-family: "Chakra Petch";
  font-size: 25px;
  font-weight: 400;
}

/************** About *****************/
#lrcontainer {
  display: flex;
  height: 93.4vh;

}

.divider {
  height: 37px;
  background-color: #BCB8B1;
}

#aboutleft {
  width: 55vw;
  background-color: #463F3A;
}

.leftcontain {
  padding-left: 140px;
  padding-top: 120px;
}

.leftcontain span {
  font-family: "Ubuntu Mono";
  font-weight: 400;
  font-size: 24px;
  color: #E0AFA0;
}

.leftcontain p {
  padding-top: 40px;
  padding-right: 40px;
}

#aboutright {
  width: 45vw;
  background-color: #BCB8B1;
}

#basebox {
  width: 429px;
  height: 460px;
  border: 5px solid #84817c;
  margin-left: 70px;
  margin-top: 282px;
}

#ontopbox {
  width: 429px;
  height: 447px;
  background-color: #463f3A;
  margin-left: -30px;
  margin-top: -22px;
}

.mypic {
  width: 429px;
  margin-top: -120px;
  mix-blend-mode: luminosity;
  filter: drop-shadow(26px 13px 1px rgba(0, 0, 0, 0.25));
}

.likes {
  width: 50px;
  margin-left: 550px;
  margin-top: -700px;
}

.likes img {
  width: 50px;
  padding-bottom: 10px;
}